*{
    margin: 0;
    padding: 0;
}
  
body{
    font-family: 'Play', sans-serif;
    background-color: black;
}
  
.navbar, .navbar-brand{
    font-size: 1.5rem;
}
  
#gif_container{
    margin: 5rem 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
  
.gif_card{
    width: 480px;
    border: 1px solid green;
    border-radius: .5rem;
    cursor: pointer;
    margin: .7rem;
    
}
  
.gif_card:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}
  
.gif_card img{
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: .5rem;
    
}

.main-banner {
    height: 600px;
    min-width: 320px;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.25),
        rgba(255, 255, 255, 0.25)
      ),
      url(../Images/MarineWalk.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .main-banner-title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: calc(2rem + 2vw);
    letter-spacing: 4px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    color: white;
  }